.swipe {
			  overflow: hidden;
			  visibility: hidden;
			  position: relative;
			}
			.swipe-wrap {
			  overflow: hidden;
			  position: relative;
			}
			.swipe-wrap > div {
			  float:left;
			  width:100%;
			  position: relative;
			}
			
			.swipe img{ /*让图片100%*/
				width: 100%;  
			}